div(class="clr")
br 
div(class="footer-container")
	div(style="background-color:#e6e6e6; width:100%;")
		footer 
			div(class="container")
				div(class="row")
					div(class="col-xs-5")
						a(style="color:#333; font-size:8px;" class="pull-left;" ui-sref="terms") Terms & Conditions 
						span | 
						a(style="color:#333; font-size:8px;"  class="pull-left;" ui-sref="returns") Return Policy  
						span | 
						a(style="color:#333; font-size:8px;"  class="pull-left;" ui-sref="privacy") Privacy Policy
					div(class="col-xs-7 text-right")
						a(href="https://paradigmmotion.com" style="color:#333; font-size:8px;"  class="pull-right;") Copyright &copy;2016 Paradigm Motion, LLC

	