include nav.pug

canvas(id='homeCanvas' style="position:fixed; top:0; left:0")

div(id="homeDiv")
	a(ui-sref="play" class="homelogocenter")
		img(src="public/img/xoIconV1.png" style="width:100%;")

		
include footer.pug