include nav.pug

div(class="loginSignupForm")
	div(class="enterForm")
			p Signup
			label(for="username") Enter a Username:
				input(type="text"  id="username" tabindex="0" autofocus placeholder="username" class="signup_username")
			b(id="username_error" class="input-error")
			br
			label(for="username") Enter your Email:
				input(type="text" id="email" tabindex="1" placeholder="email@example.com" class="signup_email" value="travis.g@paradigmmotion.com")
			b(id="email_error" class="input-error")
			br
			label(for="username") Enter a Password:
				input(type="password" id="password" tabindex="2" placeholder="password" class="password"  value="123123")
			b(id="password_error" class="input-error") 
			br
			button(id="signupButton" onclick="document.getElementById('spawn_cell').play();") Signup
			span(ng-if="signupCtrl.loader") 
				img(src="public/img/loader.gif" id="loader")
			br
			div(id="instructions")
				div(style="float:left;")
					a(ui-sref="discover")
						h3 Discover
				div(style="float:right;")
					a(ui-sref="login") 
						h3 Login
			div(class="clr")


include footer.pug