
h3 Xnum

pag-control(getlistpromise="xoadminCtrl.getList(page)" currentpage="xoadminCtrl.currentpage" numpagespromise="xoadminCtrl.numPages()")


label Show Paid Xnum?
	input(type="checkbox" ng-model="xoaminCtrl.showPaid")
div(class="styleTable")
	table
		tr
			td ID
			td X
			td Y
			td Level
			td Value($)
			td Found
			td Paid
			td UserId
			td Delete?
		tr(ng-repeat="xnum in xoadminCtrl.list" ng-if="xnum.paid && xoaminCtrl.showPaid || !xnum.paid")
			td {{xnum.id}}
			td {{xnum.locX}}
			td {{xnum.locY}}
			td {{xnum.level}}
			td {{xnum.valDollar}}
			td {{xnum.found}}
			td {{xnum.paid}}
			td {{xnum.userId}}
			td
				button(ng-click="xoadminCtrl.deleteXnum(xnum.id)" class="btn" ng-if="!xnum.found" ng-disabled="xnum.found") Delete


pag-control(getlistpromise="xoadminCtrl.getList(page)" currentpage="xoadminCtrl.currentpage" numpagespromise="xoadminCtrl.numPages()")