div(id="contactUsthanks" class="modal fade" role="dialog")
  div(class="modal-dialog")
    div(class="modal-content")
      div(class="modal-header")
        button(type="button" class="close" data-dismiss="modal") &times;
        h4(class="modal-title") Thanks!
      div(class="modal-body")
        h5 Thanks for contacting us! We will get back with you as soon as possible.

      div(class="modal-footer")
        button(type="button" class="btn btn-default" data-dismiss="modal") Close
  


