div(id="NeedMoreXFlags" class="modal fade" role="dialog")
	div(class="modal-dialog")
		div(class="modal-content")
			div(class="modal-header")
				button(type="button" class="close" data-dismiss="modal") &times;
				h4(class="modal-title") Collect all 3 XFLAGS
			div(class="modal-body")
				
				p You must find all 3 XFLAGs in this level to finish.
							

			div(class="modal-footer")
				button(type="button" class="btn btn-default pull-right" data-dismiss="modal" ng-click="playCtrl.closeDialog()") OK
